---
//Definimos constante para pasar props
const { images = [] } = Astro.props;
---

<script>
  // Core de Swiper y estilos
  import Swiper, { Swiper as SwiperInstance } from 'swiper'; // SwiperInstance para tipado
  import Navigation from 'swiper'; 
  // Módulo Navigation de Swiper y estilos
  
  import "swiper/css/navigation";
  import 'swiper/css';


  let mainSwiper: SwiperInstance|null = null;
  
  // Ejecutar el script cuando el DOM esté completamente cargado
   // Función para inicializar Swiper
   function initializeSwiper() {

     // Destruir instancias anteriores si existen
     if (mainSwiper) {
      mainSwiper.destroy(); // Destruir correctamente
      mainSwiper = null;
    }

    mainSwiper = new Swiper(".swiper", {
      modules: [Navigation],
      spaceBetween: 40,
      centeredSlides: true,
        autoplay: {
          delay: 500,
          disableOnInteraction: false,
        },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      }
    });
   }

   // Esperar a que el DOM esté listo antes de inicializar Swiper
  setTimeout(() => {
    initializeSwiper();
  }, 100); // Esperamos un pequeño retraso para asegurar que el DOM esté completamente cargado.

  // Esperar a que el DOM esté listo antes de inicializar Swiper
  document.addEventListener('DOMContentLoaded', () => {
    initializeSwiper();
  });
  
</script>

<!-- Contenedor principal de Swiper -->

  <div class="swiper main">
    <div class="swiper-wrapper">
      {images.map(image => (
        <div class="swiper-slide">
          <img src={image.src} alt={image.alt} class="object-cover w-full h-full" />
        </div>
      ))}
    </div>
  
    <!-- Controles de navegación y paginación -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  

<style>
  .swiper {
  position: relative;
  height: 600px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>