---
import sendGrid from '@sendgrid/mail';
import 'dotenv/config';

sendGrid.setApiKey( import.meta.env.SENDGRID_API_KEY );

console.log(process.env.SENDGRID_API_KEY);

if (Astro.request.method === 'POST') {
  try{
    // Getting posted data from our contact form
    const data = await Astro.request.formData();
    const name = data.get('name');
    const email = data.get('email');
    const message = data.get('message');

    console.log(message);
    // TODO: Do not forget to do validation and error handling over received data from your contact form.

    // Sending email
    const msg = {
      to: email, // Change to your recipient
      from: 'noreply@reprodisseny.com', // Change to your verified sender
      replyTo: {email:email, name:name},
      subject: `Contact form submission from ${name}`,
      text: message,
    }
    await sendGrid.send(msg).then(() => {
      console.log('Email sent')
    }).catch((error) => {
      console.error(error)
    });

  } catch (error) {
    console.error(error);
  }
}
---
<html lang="en">
  <head>
    <title>Contact Me</title>
  </head>
  <body>
    <h1>Say Hi to me!</h1>
    <form method="POST">
      <div>
        <input type="text" name="name" placeholder="Name" />
      </div>
      <div>
        <input type="email" name="email" placeholder="Email" />
      </div>
      <div>
        <textarea name="message" placeholder="Message"></textarea>
      </div>
      <div>
        <button type="submit">Send</button>
      </div>
    </form>
  </body>
</html>