---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import ImgTbl from '~/assets/images/mesa/SobremesaHome.jpg';
import ImgTbl0 from '~/assets/images/pared/ParedEspiral.jpg';
import calendarImg from '~/assets/images/CategoriaCalendarios.png';

const metadata = {
  title: 'Calendarios para empresas',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  
  <Hero
 
  image={{ src: calendarImg.src, alt: 'Imagen de una composición de calendarios impresos per Repro Disseny' }}
  >
  
  <Fragment slot="title">
      Calendarios de <span class="hidden xl:inline">empresas</span>, la
      <span class="text-accent dark:text-white highlight"> publicidad mas efectiva</span> 365 días al año.
    </Fragment>
    <h1>holas mundos</h1>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">Descubre los 
        <span class="font-semibold">calendarios para 2025 de Repro Disseny.</span> Equilibrio perfecto entre diseño, funcionalidad y sostenibilidad. Nuestros calendarios no solo marcan días, sino que inspiran y decoran tu espacio, adaptándose a tus necesidades y gustos.</span>
    </Fragment>
  </Hero>
  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Beneficios y retorno inversión"
    title="Calendarios de empresa para 2025" 
    subtitle="Reparte calendarios 2025 personalizados y asegura que tu marca esté presente en la vida diaria de tus clientes durante todo el año. Un regalo útil que refuerza tu visibilidad y fideliza a tu público. ¡Solicita tu presupuesto hoy mismo y destaca con calendarios únicos!."
    items={[
      {
        title: 'Presencia diaria de marca',
        description:
          'Tu marca estará presente cada día del año, asegurando que tus clientes siempre tengan en mente tu negocio.',
        icon: 'tabler:calendar',
      },
      {
        title: 'Publicidad económica y duradera',
        description:
          'Promociona tu marca durante todo un año con una inversión mínima. ¡12 meses de exposición por el precio de un solo producto!',
        icon: 'tabler:moneybag',
      },
      {
        title: 'Fortalece la fidelidad del cliente',
        description:
          'Recompensa la lealtad de tus clientes con un regalo útil y duradero que refuerza tu relación con ellos.',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Recordatorio visual constante de eventos y promociones',
        description:
          'Informa a tus clientes de eventos importantes o promociones con un calendario que incluye tus fechas clave.',
        icon: 'tabler:calendar-event',
      },
      {
        title: 'Refleja profesionalismo y cuidado por el detalle',
        description:
          "Un calendario con tu imagen corporativa refleja profesionalismo y cuidado en cada interacción con tus clientes.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Ampliación del alcance de la marca',
        description:
          'Un calendario en manos de tus clientes puede llegar a nuevos prospectos, multiplicando la visibilidad de tu marca.',
        icon: 'tabler:world',
      },
    ]}
  />

  <!-- Content Widget **************** -->
  <Content
    isReversed
    id='calendarList'
    tagline="Modelos de calendarios"
    title="Elige el modelo que más de adapte a tus necesidades"
    items={[
      {
        title: 'Organización eficiente',
        description:
          'Los calendarios de sobremesa ayudan a mantener las tareas y citas importantes siempre visibles, mejorando la gestión del tiempo en la oficina.',
      },
      {
        title: 'Refuerzo de marca',
        description:
          'Al personalizar los calendarios con tu logo y colores corporativos, fortaleces la identidad visual de tu empresa en cada escritorio.',
      },
      {
        title: 'Publicidad continua',
        description:
          'Utiliza los calendarios de sobremesa como una herramienta promocional, manteniendo tu marca presente en la mente de clientes y colaboradores durante todo el año.',
      },
    ]}
    image={{
      src: ImgTbl.src,
      alt: 'Imagen de calendarios de mesa',
    }} 
  >

    <Fragment slot="content">
      <h3 id="calTable" class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Calendarios para mesa</h3>
      Imprime calendarios de mesa personalizados, reforzando tu marca y profesionalidad, con diseños acordes a tu empresa.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Visibilidad constante',
        description: ` Los calendarios de pared aseguran que tu marca esté siempre a la vista, recordando a empleados y clientes sus próximos compromisos y reforzando tu presencia en el entorno laboral.`,
      },
      {
        title: 'Espacio publicitario ampliado',
        description:
          'Ofrecen un área generosa para mostrar tu logo, mensajes y promociones, convirtiéndose en una herramienta publicitaria efectiva que se ve todos los días del año.',
      },
      {
        title: 'Organización centralizada',
        description:
          "Facilitan la planificación y el seguimiento de eventos y metas en equipo, ayudando a mantener el trabajo coordinado y alineado con los objetivos de la empresa.",
      }
    ]}
    image={{
      src: ImgTbl0,
      alt: 'Calendarios de mesa',
    }}
  >
    <Fragment slot="content">

      <h3 id="calWall" class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Calendarios para pared</h3>
      Los calendarios de pared para empresas combinan visibilidad constante y organización centralizada, reforzando la marca y facilitando la planificación diaria.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Steps Widget ****************** -->

  <Steps
    title="Consigue tu calendarios corporativos para el 2025"
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Pídenos información</span>',
        description:
          "Solicita información a nuestros comerciales a través de los canales de comunicación habituales.",
        icon: 'tabler:package',
      },
      {
        title: 'Paso 2: <span class="font-medium">Oferta personalizada</span>',
        description:
          "Recibirás una oferta económica personalizada según tus intereses y necesidades. Recuerda que puedes contactar con nosotros para resolver culaquier duda por los canales habituales",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Paso 3: <span class="font-medium">Pasamos a producción</span>',
        description:
          'Confirma la oferta y recibe tus calendarios corporativos según las condiciones que has especificado en la oferta.',
        icon: 'tabler:paint',
      },
      {
        title: 'Listos para entregar!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: calendarImg.src,
      alt: 'Steps image',
    }}
  />

  
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas freqüentes"
    subtitle="Para obtener un presupuesto para la impresión digital de calendarios en Barcelona, completa nuestro formulario en línea o contáctanos por correo electrónico o teléfono. Incluye detalles como el tipo de calendario, cantidad y cualquier personalización especial que necesites."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Qué tipo de calendarios ofrece Reprodisseny?',
        description:
          "En Reprodisseny, ofrecemos calendarios personalizados en diversos formatos: de pared, de mesa y de bolsillo. Utilizamos impresión digital de alta calidad para asegurar un acabado profesional y duradero. Personaliza tu calendario a tu medida con nuestro servicio de impresión digital.",
      },
      {
        title: '¿Cómo puedo solicitar un presupuesto para la impresión digital de calendarios?',
        description:
          "Para obtener un presupuesto preciso para la impresión digital de calendarios, indícanos la cantidad de calendarios que necesitas, el tipo (pared, de mesa, etc.), el diseño, el tamaño y las especificaciones de personalización. Cuanta más información proporciones, más detallado será el presupuesto que recibas." 
      },
      {
        title: '¿Qué información necesito proporcionar para obtener un presupuesto de calendarios?',
        description:
          'Para recibir un presupuesto exacto, indícanos la cantidad, tipo (pared, mesa, etc.), diseño, tamaño y especificaciones de personalización. Cuanta más información proporciones, más detallado será el presupuesto.',
      },
      {
        title: "¿Cómo puedo personalizar mi calendario con Reprodisseny?",
        description:
          "Personalizar tu calendario es fácil. Elige el formato, agrega tus fotos o gráficos y selecciona las fechas importantes. Nuestro equipo te asistirá para que el calendario refleje tu estilo y necesidades."
      },    
      {
        title: '¿Cuáles son los beneficios de elegir impresión digital para calendarios?',
        description:
          "La impresión digital garantiza alta precisión y reproducción fiel de colores, ideal para calendarios personalizados. Además, ofrece tiempos de entrega rápidos y la posibilidad de realizar cambios de última hora sin costos adicionales.",
      },
      {
        title: '¿Cómo es el proceso de compra y envío para los calendarios personalizados?',
        description:
          "El proceso es sencillo: selecciona tu calendario, solicita una oferta personalizada, revisa y confirma. Procederemos con la impresión y te enviaremos tu calendario a cualquier ubicación en Barcelona o más allá, con opciones de envío rápido disponibles",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->
<!-- 
  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  CallToAction Widget *********** -->
<!-- 
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
-->  
</Layout>
