---
import { Image } from "astro:assets";
import logo from "../assets/icons/reprodisseny.jpg";
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image
    loading="lazy"
    class="logo-responsive" 
    src={logo}
    alt="Una descripci칩n de mi imagen."
    />
</span>

<!-- Estilos encapsulados para el componente Header.astro -->

<style>
  .logo-responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  @media (max-width: 768px) {
    .logo-responsive {
      max-width: 100px; /* Reducci칩n del tama침o en pantallas peque침as */
    }
  }
</style>